<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SeleniumProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeleniumProject.Properties.Settings>
            <setting name="Environment1" serializeAs="String">
                <value>QA_A</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>panviva</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Burke6368</value>
            </setting>
            <setting name="folderName" serializeAs="String">
                <value>TestAutomationData</value>
            </setting>
            <setting name="fileName" serializeAs="String">
                <value>usersList</value>
            </setting>
            <setting name="Environment" serializeAs="String">
                <value>qa-spui-a</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>https://</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>NodeWebkit</value>
            </setting>
        </SeleniumProject.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
